In [1]:
import pandas as pd

d:\program files\python\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
d:\program files\python\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
d:\program files\python\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1
0,793dd3d5f0f0,9467e0341c0e,Алтайский край,Барнаул,Личные вещи,Детская одежда и обувь,Для девочек,Платья и юбки,146-152 см (10-12 лет),Платье праздничное для девочки,Очень красивое торг,1500.0,106,2017-04-12,Company,ace7b2b7f066a6b6ff244f90d030c2c1a1bf118dd0e1ac...,573.0
1,f8c965d9b668,1905516660f5,Свердловская область,Каменск-Уральский,Для дома и дачи,Мебель и интерьер,"Кровати, диваны и кресла",NaN,NaN,Кровать двухспальная,Двуспальная кровать 140х200 с металлическим ка...,5700.0,10,2017-04-15,Private,b38ef24dd5b876ed626bd98241e228e4e19e4160d33abe...,1439.0
2,2f153c00d561,b4dc4849fdd4,Самарская область,Самара,Бытовая электроника,Телефоны,Samsung,NaN,NaN,Samsung S3 mini gt-i8190,"Продам телефон самсунг 2 ядра, 1 гиг оперативн...",1500.0,6,2017-04-12,Private,8530cc0c8d5dc6d212497dffd610d89b92a7db952934db...,2932.0
3,7fc5eea56915,02c14d39fdb4,Саратовская область,Саратов,Личные вещи,"Одежда, обувь, аксессуары",Женская одежда,Платья и юбки,44–46 (M),"Красивое платье на одно плечо, в идеале размер м","Заказывала в Сша, прекрасное качество, в деле ...",1000.0,1280,2017-04-13,Company,eb21745ba276d3b00b05856a58fe719e31a82419c0221a...,386.0
4,b01000d29ea3,b17f14110367,Удмуртия,Ижевск,Личные вещи,Детская одежда и обувь,Для мальчиков,"Шапки, варежки, шарфы",NaN,Стильная панама,Состояние новой. Размер до года- полтора. По ...,150.0,145,2017-04-14,Company,5bf1001fa681b96f121ad8047c85e3747f3dac37830dd0...,209.0

In [3]:
data = data[['category_name', 'title']]
data.shape

(254219, 2)

In [4]:
from sklearn.cluster import AffinityPropagation, AgglomerativeClustering, DBSCAN, \
                            KMeans, MiniBatchKMeans, Birch, MeanShift, SpectralClustering
from sklearn.metrics import adjusted_rand_score, adjusted_mutual_info_score, \
                            silhouette_score

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import TruncatedSVD, NMF
from sklearn import metrics
from sklearn.datasets import make_blobs

## CountVectorizer & TfidfVectorizer

In [5]:
import numpy as np

In [6]:
ngram_values = [(1,1), (1,2), (2,2), (1,3), (2,3), (3,3)]
max_df_values = np.arange(0.01, 0.1, 0.01)
max_features_values = np.arange(500, 2000, 100)
min_df_values = np.arange(0.001, 0.01, 0.001)

In [7]:
cv, tfidf = CountVectorizer, TfidfVectorizer

In [8]:
def vectorizer(vec, cluster):
    X = vec.fit_transform(sample['title'])
    cluster
    cluster.fit(X)
    labels = cluster.labels_
    return metrics.v_measure_score(y, labels)

In [11]:
def ngram_metrics(cluster, values):
    cv, tfidf = CountVectorizer, TfidfVectorizer
    cv_results, tfidf_results = {}, {}
    for v in values:
        measure_cv = vectorizer(cv(ngram_range=v), cluster)
        cv_results[v] = measure_cv
        measure_tfidf = vectorizer(tfidf(ngram_range=v), cluster)
        tfidf_results[v] = measure_tfidf
        
    cv_max, tfidf_max = max(cv_results.values()), max(tfidf_results.values())
    if cv_max > tfidf_max:
        print('ngram_range = {}, cv wins: {}'.format(max(cv_results, key=cv_results.get), cv_max))
        return "cv"
    elif cv_max < tfidf_max:
        print('ngram_range = {}, tfidf wins: {}'.format(max(tfidf_results, key=tfidf_results.get), tfidf_max))
        return "tfidf"
    else:
        print('ngram_range = {}, cv = tfidf: {}'.format(max(tfidf_results, key=tfidf_results.get), tfidf_max))
        return "equal"

In [12]:
def max_features_metrics(cluster, values):
    cv, tfidf = CountVectorizer, TfidfVectorizer
    cv_results, tfidf_results = {}, {}
    for v in values:
        measure_cv = vectorizer(cv(max_features=v), cluster)
        cv_results[v] = measure_cv
        measure_tfidf = vectorizer(tfidf(max_features=v), cluster)
        tfidf_results[v] = measure_tfidf
        
    cv_max, tfidf_max = max(cv_results.values()), max(tfidf_results.values())
    if cv_max > tfidf_max:
        print('max_reatures = {}, cv wins: {}'.format(max(cv_results, key=cv_results.get), cv_max))
        return "cv"
    elif cv_max < tfidf_max:
        print('max_reatures = {}, tfidf wins: {}'.format(max(tfidf_results, key=tfidf_results.get), tfidf_max))
        return "tfidf"
    else:
        print('max_reatures = {}, cv = tfidf: {}'.format(max(tfidf_results, key=tfidf_results.get), tfidf_max))
        return "equal"

In [13]:
def min_df_metrics(cluster, values):
    cv, tfidf = CountVectorizer, TfidfVectorizer
    cv_results, tfidf_results = {}, {}
    for v in values:
        measure_cv = vectorizer(cv(min_df=v), cluster)
        cv_results[v] = measure_cv
        measure_tfidf = vectorizer(tfidf(min_df=v), cluster)
        tfidf_results[v] = measure_tfidf
        # print('min_df={:.4f}, cv:{:.4f}, tfidf: {:.4f}'.format(v, measure_cv, measure_tfidf))
    cv_max, tfidf_max = max(cv_results.values()), max(tfidf_results.values())
    if cv_max > tfidf_max:
        print('min_df = {}, cv wins: {}'.format(max(cv_results, key=cv_results.get), cv_max))
        return "cv"
    elif cv_max < tfidf_max:
        print('min_df = {}, tfidf wins: {}'.format(max(tfidf_results, key=tfidf_results.get), tfidf_max))
        return "tfidf"
    else:
        print('min_df = {}, cv = tfidf: {}'.format(max(tfidf_results, key=tfidf_results.get), tfidf_max))
        return "equal"

In [14]:
def all_param_metrics(cluster):
    s1 = ngram_metrics(cluster, ngram_values)
    s2 = max_features_metrics(cluster, max_features_values)
    s3 = min_df_metrics(cluster, min_df_values)
    results = [s1, s2, s3]
    cv_counter, tfidf_counter = 0, 0
    for i in results:
        if i == 'cv':
            cv_counter += 1
        if i == 'tfidf':
            tfidf_counter += 1
            
    if cv_counter > tfidf_counter:
        print('cv works better.')
    elif cv_counter < tfidf_counter:
        print('tfidf works better.')
    else:
        print('No significant difference.')

### AffinityPropagation

In [23]:
sample = data.sample(frac=0.01)
y = sample['category_name']

In [24]:
cluster_AP = AffinityPropagation(damping=0.7, preference=-2, 
                              max_iter=400, convergence_iter=10)

In [26]:
all_param_metrics(cluster_AP)

ngram_range = (1, 1), cv wins: 0.5698980484643223
max_reatures = 1600, cv wins: 0.5446184170329842
min_df = 0.008, tfidf wins: 0.5805949691390465
cv works better.

для кластеризации AffinityPropagation cv работает лучше.

### K-means

In [15]:
sample = data.sample(frac=0.1)
y = sample['category_name']

In [16]:
cluster_KM = KMeans(n_clusters=47, random_state=42)

In [18]:
all_param_metrics(cluster_KM)

ngram_range = (1, 1), tfidf wins: 0.33469607301167265
max_reatures = 1300, tfidf wins: 0.33207522941082585
min_df = 0.004, tfidf wins: 0.341435054644198
tfidf works better.

для кластеризации K-Means tfidf работает лучше.

### Mini Batch K-means

In [19]:
sample = data.sample(frac=1)
y = sample['category_name']

In [20]:
cluster_MB = MiniBatchKMeans(n_clusters=1000, init_size=5000, max_iter=5000, 
                          max_no_improvement=100, reassignment_ratio=0.3)

In [27]:
all_param_metrics(cluster_MB)

ngram_range = (1, 1), tfidf wins: 0.5388850584950262
max_reatures = 1400, tfidf wins: 0.5391361217211368
min_df = 0.001, tfidf wins: 0.5085488568431709
tfidf works better.

для кластеризации Mini Batch K-means tfidf работает лучше.

## SVD & NMF

In [28]:
def SVD_NMF(m, v, cluster):
    X_cv = v.fit_transform(sample['title'])
    md = m(50, random_state=42)
    X_md = md.fit_transform(X_cv)
    cluster.fit(X_md)
    labels = cluster.labels_
    return metrics.v_measure_score(y, labels)

In [44]:
def SVD_NMF_metrics(v, cluster):
    svd = SVD_NMF(TruncatedSVD, v, cluster)
    print('SVD: ', svd)
    nmf = SVD_NMF(NMF, v, cluster)
    print('NMF: ', nmf)
    if svd > nmf:
        print('SVD works better.')
    elif svd < nmf:
        print('NMF works better.')
    else:
        print('No significant difference.')

### AgglomerativeClustering

In [30]:
cv = CountVectorizer(min_df=2, max_df=0.4)
tfidf = TfidfVectorizer(min_df=2, max_df=0.4)

In [31]:
sample = data.sample(frac=0.05)
y = sample['category_name']

In [32]:
cluster_AC = AgglomerativeClustering(n_clusters=47)

In [45]:
SVD_NMF_metrics(cv, cluster_AC)

SVD:  0.34178172630851433
NMF:  0.3191889669730052
SVD works better.

In [46]:
SVD_NMF_metrics(tfidf, cluster_AC)

SVD:  0.3461811548438889
NMF:  0.3467587942893949
NMF works better.

### Mean Shift

In [42]:
cluster_MS = MeanShift(cluster_all=False, bandwidth=0.5)

In [47]:
SVD_NMF_metrics(cv, cluster_MS)

SVD:  0.34839558556600464
NMF:  0.014487507213012698
SVD works better.

In [48]:
SVD_NMF_metrics(tfidf, cluster_MS)

SVD:  0.31620741406261077
NMF:  -3.2380793922320024e-16
SVD works better.

### DBSCAN

In [49]:
cluster_D = DBSCAN(min_samples=10, eps=0.3)

In [50]:
SVD_NMF_metrics(cv, cluster_D)

SVD:  0.31527851424516584
NMF:  0.015285738513046368
SVD works better.

In [51]:
SVD_NMF_metrics(tfidf, cluster_D)

SVD:  0.1566098859508628
NMF:  -3.2380793922320024e-16
SVD works better.

## необычные объявления

In [54]:
def labels(cluster):
    cv = CountVectorizer(min_df = 0.001, max_df=0.4)
    X = cv.fit_transform(sample['title'])
    svd = TruncatedSVD(50)
    X_svd = svd.fit_transform(X)
    cluster.fit(X_svd)
    labels = cluster.labels_
    return labels

In [55]:
sample = data.sample(frac=0.05)
y = sample['category_name']

### Mean Shift

In [56]:
sample['cluster'] = labels(cluster_MS)

In [57]:
sample[sample.cluster==-1].head(20)

,category_name,title,cluster
101626,Товары для компьютера,"Неисправный ЭЛТ-монитор Scott 17""",-1
239198,Комнаты,Куплю комнату,-1
145598,Квартиры,"1-к квартира, 38 м², 17/19 эт.",-1
5662,Ремонт и строительство,Отдам доски даром,-1
210122,Собаки,Отдам собаку,-1
67342,Собаки,Отдам Шар-пей кобель,-1
101695,Ремонт и строительство,Отдам рамы со стеклом и так же стекло,-1
226471,Детская одежда и обувь,Отдам за шоколадку,-1
51842,Другие животные,Отдаю декоративного кролика в хорошие руки,-1
18535,Детская одежда и обувь,Летние кожаные босоножки,-1
158513,Комнаты,Сниму комнату,-1
229379,Телефоны,Смартфон Samsung Galaxy S III GT-I9300 16Gb,-1
76969,Кошки,Отдам котят,-1
60004,"Одежда, обувь, аксессуары","Кофта тёплая, 42-46 размер",-1
118456,Другие животные,Отдам декоративного кролика,-1
210409,Собаки,Отдам собаку,-1
191772,Комнаты,Сниму комнату,-1
136003,Кошки,Отдам котенка,-1
219730,Собаки,Отдам немецкую овчарку,-1
102658,Комнаты,Куплю комнату,-1

"Отдам за шоколадку" в категории "Детская одежда и обувь". Отдать за шоколадку можно и любую вещь.

"Отдам декоративного кролика" в категории "Другие животные". Декоративный кролик не относится к категории "Другие животные".

### DBSCAN

In [58]:
sample['cluster'] = labels(cluster_D)

In [59]:
sample[sample.cluster==-1].head(20)

,category_name,title,cluster
64461,Спорт и отдых,Продам кроссовки на роликах heelys,-1
36254,"Одежда, обувь, аксессуары",Юбка новая классика,-1
23801,Телефоны,Дисплейный модуль (новый) iPhone 4s,-1
171513,Грузовики и спецтехника,"Продам Урал самосвал 10 тн, 2007 гв",-1
248751,Комнаты,"Комната 12 м² в 1-к, 2/9 эт.",-1
36454,Детская одежда и обувь,Парка зима-осень,-1
32375,Телефоны,Чехол на iPhone 5C,-1
211496,Детская одежда и обувь,Куртка демисезонная детская р-р.100-110,-1
101626,Товары для компьютера,"Неисправный ЭЛТ-монитор Scott 17""",-1
223165,Велосипеды,"Продам б/у велосипед ""стриж""",-1
38780,Детская одежда и обувь,Новый детский свитер,-1
10778,Квартиры,"Студия, 24 м², 3/4 эт.",-1
22726,Квартиры,"2-к квартира, 70 м², 15/15 эт.",-1
176366,Мебель и интерьер,Кухонный новый стол,-1
122336,"Одежда, обувь, аксессуары",Сапоги осенни новые,-1
158058,Товары для детей и игрушки,Комплект на выписку,-1
84890,Земельные участки,Участок 12 сот. (ИЖС),-1
146038,Планшеты и электронные книги,"Новый 10.1"" Планшет RoverPad Air Q10 8 Гб. 3G",-1
122688,Детская одежда и обувь,Комплект на мальчика на рост 98-104,-1
19250,Охота и рыбалка,Домашнее устройство для готовки для копчения д...,-1

"Парка зима-осень" в категории "Детская одежда и обувь". Непонятно детская парка или взрослая.

"Дисплейный модуль (новый) iPhone 4s" и "Чехол на iPhone 5C" в категории "Телефоны". Сомневаюсь, что Дисплейный модуль и чехол относятся к категории "Телефоны".