<a href="https://colab.research.google.com/github/Yan-Weijia/ML/blob/master/HW01/HW01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Домашнее задание 1
Проанализируйте данные и найдите самый холодный и самый ветренный дни в Сегеде за всю имеющуюся историю.

找到历史上最冷的和风最大的日子

Узнайте сколько раз шел дождь летом 2014 года.

2014年下了几次雨

Сгруппируйтей данные по годам, месяцам и неделям (по отдельности) и найдите:

按照年、月、周把数据分组并找到：

1) самый ветрянный месяц 风最大的月

2) самый влажный год 最湿润的年

3) неделю с самой переменчивой погодой 天气变化差异最大的周

In [0]:
import pandas as pd

In [0]:
!wget https://raw.githubusercontent.com/Yan-Weijia/ML/master/1_intro_regression/weatherHistory.csv

In [0]:
weather_hist = pd.read_csv('weatherHistory.csv')

In [0]:
# можно переименовать колонки
weather_hist.rename({'Formatted Date':'date', 'Temperature (C)':'temp', 'Apparent Temperature (C)':'temp_app',
                    'Precip Type':'weather_type', 'Wind Speed (km/h)':'wind_speed', 'Humidity':'humidity',
                    'Daily Summary':'summary'}, 
                    axis=1, inplace=True)

In [0]:
# а можно создать новую колонку и присвоить ей значение старой, а затем отбросить старую
weather_hist['visibility'] = weather_hist['Visibility (km)']
weather_hist['wind_bearing'] = weather_hist['Wind Bearing (degrees)']
weather_hist['pressure'] = weather_hist['Pressure (millibars)']
weather_hist.drop(['Visibility (km)', 'Wind Bearing (degrees)', 'Pressure (millibars)'], axis=1, inplace=True)

In [0]:
weather_hist.head(5)

In [7]:
# кроме нулей ничего нет
weather_hist['Loud Cover'].unique()

array([0.])

In [0]:
weather_hist.drop(['Loud Cover'], axis=1, inplace=True)

In [9]:
weather_hist.head(5)

                            date        Summary  ... wind_bearing  pressure
0  2006-04-01 00:00:00.000 +0200  Partly Cloudy  ...        251.0   1015.13
1  2006-04-01 01:00:00.000 +0200  Partly Cloudy  ...        259.0   1015.63
2  2006-04-01 02:00:00.000 +0200  Mostly Cloudy  ...        204.0   1015.94
3  2006-04-01 03:00:00.000 +0200  Partly Cloudy  ...        269.0   1016.41
4  2006-04-01 04:00:00.000 +0200  Mostly Cloudy  ...        259.0   1016.51

[5 rows x 11 columns]

In [0]:
weather_hist['date'] = pd.to_datetime(weather_hist['date'], utc=True)

In [39]:
weather_hist['date'].dtypes

datetime64[ns, UTC]

In [0]:
weather_hist['year'] = weather_hist['date'].dt.year
weather_hist['month'] = weather_hist['date'].dt.month
weather_hist['week'] = weather_hist['date'].dt.week
weather_hist['day'] = weather_hist['date'].dt.day
weather_hist['ymd'] = weather_hist['date'].dt.date

In [0]:
weather_hist.dtypes

In [25]:
weather_hist.head(5)

                       date        Summary weather_type  ...  week  day         ymd
0 2006-03-31 22:00:00+00:00  Partly Cloudy         rain  ...    13   31  2006-03-31
1 2006-03-31 23:00:00+00:00  Partly Cloudy         rain  ...    13   31  2006-03-31
2 2006-04-01 00:00:00+00:00  Mostly Cloudy         rain  ...    13    1  2006-04-01
3 2006-04-01 01:00:00+00:00  Partly Cloudy         rain  ...    13    1  2006-04-01
4 2006-04-01 02:00:00+00:00  Mostly Cloudy         rain  ...    13    1  2006-04-01

[5 rows x 16 columns]

самый холодный день за всю имеющуюся историю:

In [0]:
cold_ymd = weather_hist.groupby('ymd')['temp'].mean().to_frame().reset_index().sort_values(by='temp').head(1)

In [105]:
cold_ymd

             ymd       temp
2232  2012-02-10 -15.958796

In [0]:
coldest_date = str(cold_ymd['ymd'].min())

In [0]:
coldest_temp = weather_hist.groupby('ymd')['temp'].mean().to_frame()['temp'].min()

In [112]:
coldest_date, coldest_temp

('2012-02-10', -15.958796296296297)

самый ветренный день за всю имеющуюся историю:

In [0]:
wind_ymd = weather_hist.groupby('ymd')['wind_speed'].mean().to_frame().reset_index().sort_values(by='wind_speed', ascending=False).head(1)

In [110]:
wind_ymd

            ymd  wind_speed
757  2008-01-27   37.929588

In [0]:
fastest_date = str(wind_ymd['ymd'].max())

In [0]:
fastest_speed = weather_hist.groupby('ymd')['wind_speed'].mean().to_frame()['wind_speed'].max()

In [117]:
fastest_date, fastest_speed

('2008-01-27', 37.929587500000004)

сколько раз шел дождь летом 2014 года:

In [0]:
rain_2014 = weather_hist[weather_hist['year'].isin([2014])]
rain_2014 = rain_2014[rain_2014['weather_type'].isin(['rain'])]
rain_2014 = rain_2014[rain_2014['month'].isin([6, 7, 8])]

In [0]:
rain_2014.head(5)

In [78]:
len(rain_2014['ymd'].unique())

92

Сгруппируйтей данные по годам, месяцам и неделям (по отдельности) и найдите:

按照年、月、周把数据分组并找到：

1) самый ветрянный месяц 风最大的月

2) самый влажный год 最湿润的年

3) неделю с самой переменчивой погодой 天气变化差异最大的周

самый ветрянный месяц:

In [0]:
dict_wind = {}

for i in range(2006, 2017):
  wind_year = weather_hist[weather_hist['year'].isin([i])]
  wind_month = wind_year.groupby('month')['wind_speed'].mean().to_frame().reset_index().sort_values(by='wind_speed', ascending=False)

In [0]:
wind_month = weather_hist.groupby('month')['wind_speed'].mean().to_frame()['wind_speed'].max()

In [98]:
wind_month

13.415824682307008

самый влажный год:

In [0]:
wet_year = weather_hist.groupby('year')['weather_type'].mean().to_frame().reset_index().sort_values(by='wind_speed', ascending=False)

In [85]:
weather_hist['year'].unique()

array([2006, 2005, 2010, 2007, 2008, 2009, 2011, 2012, 2013, 2014, 2015,
       2016])